[*.{cs,vb}]

dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = error

# SA1606: Element documentation should have summary text
dotnet_diagnostic.SA1606.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none
